html,
body {
  height: 100%;
}

body {
  margin: 0;

  /* фон как на втором скрине */
  background: radial-gradient(
    1200px 600px at 50% 0%,
    rgba(120, 60, 200, 0.25),
    rgba(0, 0, 0, 0.9)
  );

  color: rgba(255, 255, 255, 0.92);
}

* {
  box-sizing: border-box;
}
